@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-ExtraBold.woff2) format("woff2"), url(../assets/fonts/Manrope-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-ExtraLight.woff2) format("woff2"), url(../assets/fonts/Manrope-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Bold.woff2) format("woff2"), url(../assets/fonts/Manrope-Bold.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Regular.woff2) format("woff2"), url(../assets/fonts/Manrope-Regular.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Light.woff2) format("woff2"), url(../assets/fonts/Manrope-Light.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Medium.woff2) format("woff2"), url(../assets/fonts/Manrope-Medium.woff) format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-SemiBold.woff2) format("woff2"), url(../assets/fonts/Manrope-SemiBold.woff) format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", Arial, gadget, sans-serif;
}

body {
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
}

button {
  border-radius: 8px;
  border: none;
}

@media (max-width: 576px) {
  .hidden {
    display: none;
  }
}

.header {
  margin: auto;
  background-color: #FFFFFF;
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (max-width: 576px) {
  .header__container {
    flex-wrap: wrap;
    padding: 26px;
  }
}
.header__menu {
  display: none;
}
@media (max-width: 576px) {
  .header__menu {
    background-color: #FFFFFF;
    border: 0;
    position: relative;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-basis: 50%;
  }
  .header__menu span {
    display: block;
    width: 25px;
    height: 0.2rem;
    background-color: #18191F;
    border-radius: 6px 0 0 6px;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.25s ease;
    transform-origin: left center;
  }
  .header__menu span:nth-child(1) {
    top: 5px;
  }
  .header__menu span:nth-child(2) {
    top: 13px;
  }
  .header__menu span:nth-child(3) {
    top: 20px;
  }
}
@media (max-width: 576px) {
  .header__navbar {
    display: none;
  }
}
.header__navbar-list {
  display: flex;
  list-style: none;
  align-items: baseline;
}
.header__navbar-list :hover {
  color: #D6B1FF;
}
.header__navbar-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0px 10px;
  text-decoration: none;
  color: #18191F;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 214px;
  height: 40px;
}
@media (max-width: 576px) {
  .header__buttons {
    display: none;
  }
}
.header__buttons button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  height: 40px;
}
.header__buttons button:nth-child(1) {
  background-color: #F1E4FF;
  color: #8C30F5;
}
.header__buttons button:nth-child(2) {
  background-color: #8C30F5;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .header__active .header__navbar {
    display: flex;
    margin-top: 50px;
    order: 4;
  }
  .header__active .header__navbar-list {
    align-items: center;
    flex-direction: column;
    line-height: 30px;
  }
  .header__active .header__menu {
    border: 0;
    background-color: #FFFFFF;
  }
  .header__active .header__menu span:nth-child(1) {
    transform: rotate(50deg);
    left: 2px;
    background-color: #8C30F5;
  }
  .header__active .header__menu span:nth-child(2) {
    opacity: 0;
  }
  .header__active .header__menu span:nth-child(3) {
    transform: rotate(-50deg);
    top: 24px;
    left: 2px;
    background-color: #8C30F5;
  }
  .header__active .header__buttons {
    display: flex;
    flex-basis: 100%;
    padding-top: 50px;
    justify-content: space-evenly;
  }
}
.header__sticky {
  position: sticky;
  top: 0;
}
.header hr {
  opacity: 0.3;
}

.landing {
  max-width: 75rem;
  margin: auto;
}
.landing__container {
  display: flex;
  margin-left: 7rem;
  align-items: center;
  height: 49.625rem;
}
@media (max-width: 576px) {
  .landing__container {
    height: 17.5rem;
    margin: auto;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .landing__container {
    margin: auto 0px auto 40px;
  }
}
.landing__text {
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .landing__text {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .landing__text {
    margin-left: 0;
  }
}
.landing__text h1 {
  font-weight: 800;
  font-size: 66px;
  line-height: 98px;
}
@media (max-width: 576px) {
  .landing__text h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
.landing__text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
@media (max-width: 576px) {
  .landing__text p {
    line-height: 20px;
    padding: 10px 45px;
    text-align: center;
  }
}
.landing__text button {
  width: 12.25rem;
  height: 3.875rem;
  background-color: #8C30F5;
  margin: 32px 0px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 576px) {
  .landing__text button {
    margin-top: 20px;
  }
}
.landing__img {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .landing__img {
    display: none;
  }
}
.landing__img svg {
  padding-left: 2rem;
  z-index: -2;
}
@media (min-width: 577px) and (max-width: 1024px) {
  .landing__img svg {
    width: 100%;
  }
}
.landing__img img {
  position: absolute;
  padding-left: 7.8125rem;
  padding-top: 20px;
  border-radius: 8px;
  filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
  z-index: -1;
}
@media (max-width: 576px) {
  .landing__img img {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .landing__img img {
    display: none;
  }
}

.logos {
  max-width: 75rem;
  margin: auto;
}
.logos__container {
  display: flex;
  align-items: center;
  width: 60rem;
  margin: auto;
  height: 19.25rem;
}
@media (max-width: 576px) {
  .logos__container {
    width: auto;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .logos__container {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
}
@media (max-width: 576px) {
  .logos__container-text {
    padding-left: 23px;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .logos__container-text {
    margin: 0;
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
  }
}
.logos__container-text h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 576px) {
  .logos__container-text h2 {
    font-size: 28px;
  }
}
.logos__container-text p {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}
@media (max-width: 576px) {
  .logos__container-text p {
    font-size: 18px;
    line-height: 30px;
  }
}
.logos__container-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (min-width: 577px) and (max-width: 1024px) {
  .logos__container-companies {
    flex-basis: 50%;
    justify-content: center;
  }
}
.logos__container-companies .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 90px;
  border: none;
  border-radius: 16px;
  padding: 0 30px 0 30px;
}
@media (max-width: 576px) {
  .logos__container-companies .svg {
    height: 3.125rem;
  }
  .logos__container-companies .svg--none {
    display: none;
  }
}

.features {
  max-width: 75rem;
}
.features__container {
  display: flex;
  height: 60rem;
  width: 60rem;
  margin: 0 0 0 auto;
}
@media (max-width: 576px) {
  .features__container {
    width: auto;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .features__container {
    margin: 40px;
    width: auto;
  }
}
.features__container h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 576px) {
  .features__container h2 {
    font-size: 35px;
  }
}
.features__container img {
  margin-top: 10.625rem;
}
@media (max-width: 576px) {
  .features__container img {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .features__container img {
    display: none;
  }
}
.features__headlines {
  display: flex;
  align-items: center;
  margin-top: 10.625rem;
  margin-right: 6rem;
  padding-right: 2rem;
  width: 33.625rem;
  height: 32rem;
}
@media (max-width: 576px) {
  .features__headlines {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .features__headlines {
    margin: 0;
    padding: 0;
    width: auto;
  }
}
.features__texts {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}
.features__texts-headlines {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 576px) {
  .features__texts-headlines {
    flex-direction: column;
  }
}
.features__texts-headlines img {
  margin: 0;
}
@media (max-width: 576px) {
  .features__texts-headlines img {
    display: flex;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .features__texts-headlines img {
    display: flex;
  }
}
.features__texts-headlines .text {
  padding-left: 70px;
}
@media (max-width: 576px) {
  .features__texts-headlines .text {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
}
.features__texts-headlines .text h5 {
  font-weight: 600;
  font-size: 24px;
}
.features__texts-headlines .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 576px) {
  .features__texts-headlines .text p {
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
