.clients {
  height: rem(610);
  background-color: $main-background;
  margin: auto;

  @include display (phone) {
    height: rem(510);
  }

  @include display (tablet) {
    height: rem(600);
    width: auto;
  }

  &__container {
    display: flex;
    justify-content: flex-end;

    @include display (phone) {
      margin: 0;
    }

    @include display (tablet) {
      margin: 0;
    }
  }

  .quote {
    position: absolute;
    opacity: 0.15;
    padding-top: rem(48);
    padding-right: rem(105);

    @include display (phone) {
      display: none;
    }

    @include display (tablet) {
      display: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: rem(316);

    @include display (phone) {
      margin: 0;
    }

    @include display (tablet) {
      margin: 10px 0;
    }
  }

  &__text {
    width: rem(730);
    height: rem(64);
    margin: 80px 0px 32px 120px;

    @include display (phone) {
      margin: auto;
      width: auto;
    }

    @include display (tablet) {
      margin: 10px auto;
      width: auto;
    }

    &-title {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      color: $white;

      @include display (phone) {
        font-size: 24px;
      }
    }
  }

  &__testimonials {
    display: flex;
    max-width: rem(1440);

    @include display (phone) {
      width: auto;
      margin: auto 20px;
    }

    @include display (tablet) {
      margin: 30px 16px;
      width: auto;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      padding: 8px;

      @include display (phone) {
        font-size: 20px;
      }

      @include display (tablet) {
        font-size: 13px;
        font-weight: 700;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 10px;

      @include display (phone) {
        font-size: 15px;
        line-height: 1;
      }

      @include display (tablet) {
        font-size: 15px;
        line-height: 1;
      }
    }
  }

  &__people {
    display: none;
    width: rem(1200);
    height: rem(210);
    justify-content: space-evenly;
    margin: 30px 54px;

    @include display (phone) {
      width: auto;
      margin: auto;
    }

    @include display (tablet) {
      margin: 0 auto;
      width: auto;
    }

    &-name {
      line-height: 2;
      padding-left: 20px;
      font-weight: 700;
      font-size: 18px;
      color: $white;

      @include display (phone) {
        width: auto;
      }
    }

    &-text {
      padding-left: rem(145);
      position: relative;
      top: -20px;
      color: $white;
      font-weight: 400;
      font-size: 14px;

      @include display (phone) {
        padding-left: 115px;
      }
    }
  }

  &__slider {
    display: none;
    margin: auto rem(165);

    @include display (phone) {
      margin: 0;
      flex-direction: column;
    }

    @include display (tablet) {
      margin: auto 20px;
    }

    &-client {
      display: flex;
      border-radius: 10px;
      width: rem(540);
      background-color: $white;
      height: rem(220);
      margin-right: 30px;
      justify-content: center;
      flex-direction: column;
      padding: 5px;

      &:after {
        position: relative;
        background-color: $white;
        content: "";
        width: 42px;
        height: 42px;
        border-radius: 4px;
        top: 2%;
        left: 45%;
        transform: rotate(-45deg);
      }

      @include display (phone) {
        width: auto;
        margin: auto;
      }

      @include display (tablet) {
        width: auto;
        margin: 10px;
      }
    }
  }

  .people {
    display: flex;
    flex-wrap: wrap;
    width: rem(320);
    height: 56px;

    @include display (phone) {
      padding-top: 20px;
    }

    @include display (tablet) {
      margin: auto;
      width: auto;
    }

    &-two {
      padding-left: 30px;

      @include display (phone) {
        display: none;
      } 
    }
  }

  .person {
    position: relative;
    padding-left: 70px;

    @include display (phone) {
      padding-left: rem(40);
    }
  }

  &__dots {
    margin: auto;

    @include display (phone) {
      margin-top: 30px;
    }

    &-dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      border-radius: 50%;
      border: 1px solid $white;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .on {
      background-color: $secondary-color;
    }
  }

  &__phone {
    @include display (phone) {
      display: none;
    }
  }
}
