.features {
  max-width: rem(1200);

  &__container {
    display: flex;
    height: rem(960);
    width: rem(960);
    margin: 0 0 0 auto;

    @include display (phone) {
      width: auto;
      display: flex;
      justify-content: center;
    }

    @include display (tablet) {
      margin: 40px;
      width: auto;
    }

    h2 {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;

      @include display (phone) {
        font-size: 35px;
        padding: 50px 0;
      }
    }
  }
}