.features {
  max-width: rem(1200);

  &__container {
    display: flex;
    height: rem(960);
    width: rem(960);
    margin: 0 0 0 auto;

    @include display (phone) {
      padding-left: rem(15);
    }

    @include display (tablet) {
      margin-left: 10px;
    }

    h2 {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;

      @include display(phone) {
        font-size: 35px;
        padding: 50px 0;
      }
    }
  }
}