.features {
  max-width: rem(1200);

  &__container {
    display: flex;
    height: rem(960);
    width: rem(960);
    margin: 0 0 0 auto;

    @include display (phone) {
      width: auto;
      text-align: center;
    }

    @include display (tablet) {
      margin: 40px;
      height: rem(600);
      width: auto;
    }

    h2 {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;

      @include display (phone) {
        font-size: 35px;
      }
    }

    img {
      margin-top: 10.625rem;

      @include display (phone) {
        display: none;
      }

      @include display (tablet) {
        display: none;
      }
    }
  }

  &__headlines {
    display: flex;
    align-items: center;
    margin-top: rem(170);
    margin-right: 6rem;
    padding-right: 2rem;
    width: rem(538);
    height: rem(512);

    @include display (phone) {
      width: auto;
      margin: 0;
      padding: 0;
    }

    @include display (tablet) {
      margin: 0;
      padding: 0;
      width: auto;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;

    &-headlines {
      display: flex;
      height: 100%;
      align-items: center;

      @include display (phone) {
        flex-direction: column;
      }

      img {
        margin: 0;

        @include display (phone) {
          display: flex;
        }

        @include display (tablet) {
          display: flex;
        }
      }

      .text {
        padding-left: 70px;

        @include display (phone) {
          padding: 0;
          flex-wrap: wrap;
          justify-content: center;
          margin: 10px;
        }

        h5 {
          font-weight: 600;
          font-size: 24px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;

          @include display (phone) {
            text-align: center;
          }
        }
      }
    }
  }
}
