@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-ExtraBold.woff2) format('woff2'),
    url(../assets/fonts/Manrope-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-ExtraLight.woff2) format('woff2'),
    url(../assets/fonts/Manrope-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-Bold.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-Regular.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-Light.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Light.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-Medium.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: 
    url(../assets/fonts/Manrope-SemiBold.woff2) format('woff2'),
    url(../assets/fonts/Manrope-SemiBold.woff) format('woff');
}
