.footer {
  height: rem(393);
  background-color: black;

  &__info {
    height: rem(312);

    @include display (phone) {
      display: flex;
    }

    @include display (tablet) {
      margin: 0 10px;
    }

    &-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto rem(165);
      color: $white;

      @include display (phone) {
        margin: 10px;
        flex-wrap: wrap;
        width: auto;
      }

      @include display (tablet) {
        margin: auto 30px;
      }
    }
  }

  &__data {
    width: 20%;
    height: rem(76);
    margin-top: rem(64);
    margin-bottom: 145px;

    @include display (phone) {
      margin: 14px 0px;
      width: auto;

    }

    @include display (tablet) {
      margin: 30px;
    }

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px;

      @include display (phone) {
        margin-bottom: 5px;
      }
    }

    &-details {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;

      @include display (phone) {
        line-height: 18px;
      }
    }

    .gplay {

      @include display (phone) {
        margin-bottom: 0px;
        padding-right: 25px;
      }

      @include display (tablet) {
        width: auto;
        margin: 0;
      }
    }
  }

  &__social {
    display: flex;
    max-width: 1110px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: rem(80);
    color: $white;

    @include display (phone) {
      margin: 0 10px;
    }

    @include display (tablet) {
      width: auto;
      margin: 0 10px;
    }

    &-copyright {
      @include display (phone) {
        line-height: 19px;
      }
    }

    &-icons {
      display: flex;
    }

    .icon {
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      margin: 0 10px;
      border-radius: 100%;
      background-color: rgba(255,255,255,0.1);
      color: white;

      path {
        fill: $white;
      }
    }
  }
}
