* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope',Arial,gadget,sans-serif;
}

body {
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
}

hr {
  opacity: 0.3;
}

.hidden {
  @include display(phone) {
    display: none;
  }

  &-client {
    @include display(phone) {
      visibility: hidden;
    }
  }
}

button {
  border-radius: 8px;
  border: none;
}
