.landing {
  &__container {
    display: flex;
    max-width: rem(1200);
    margin: auto;
    padding-left: 7.5rem;
    align-items: center;
    height: rem(794);

    @include display(phone) {
      padding-left: 15px;
      height: rem(300);
    }

    @include display(tablet) {
      padding-left: 51px;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;

    @include display(phone) {
      margin-left: 0;
    }

    @include display(tablet) {
      margin-left: 0;
    }

    h1 {
      font-weight: 800;
      font-size: 66px;
      line-height: 98px;

      @include display(phone) {
        font-size: 28px;
        line-height: 40px;
      }
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;

      @include display(phone) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    button {
      width: rem(196);
      height: rem(62);
      background-color: $main-background;
      margin: 32px 0px;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;

      @include display(phone) {
        width: rem(120);
        height: rem(50);
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;

    svg {
      padding-left: 2rem;
      z-index: -2;

      @include display(phone) {
        height: 320px;
        margin-bottom: 110px;
        padding-left: 10px;
        width: 100%;
      }

      @include display(tablet) {
        width: 100%;
      }
    }

    img {
      position: absolute;
      padding-left: rem(125);
      padding-top: 20px;
      border-radius: 8px;
      filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
      z-index: -1;

      @include display(phone) {
        display: none;
      }

      @include display(tablet) {
        display: none;
      }
    }
  }
}
