.landing {
  margin: auto;

  &__container {
    display: flex;
    margin: auto rem(165);
    align-items: center;
    padding-top: 77px;

    @include display(phone) {
      justify-content: center;
    }

    @include display(tablet) {
      margin: auto 0px auto 40px;
    }
  }

  &__text {
    width: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include display(phone) {
      width: auto;
      margin: auto;
    }

    @include display(tablet) {
      margin-left: 0;
      flex-basis: auto;
    }
    
    &-title {
      width: 100%;
      font-weight: 800;
      font-size: 66px;
      line-height: 98px;
      padding-right: 20px;

      @include display(phone) {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        padding-right: 0px;
      }
    }

    &-data {
      width: 100%;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      padding-right: 12px;

      @include display(phone) {
        line-height: 20px;
        padding: 10px 0px;
        text-align: center;
      }
    }

    &-button {
      width: rem(196);
      height: rem(62);
      background-color: $main-background;
      margin: 32px 0px;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;

      .start {
        color: $white;
        text-decoration: none;
      }

      @include display (phone) {
        margin-top: 20px;
      }
    }

    &-edit {
      justify-content: center;
      font-weight: 400;
      font-size: 46px;
    }
  }

  &__img {
    position: relative;
    margin-right: -99px;
    width: 640px;

    @include display (phone) {
      display: none;
    }
    
    @include display(tablet) {
      width: 100%;
      position: relative;
      margin-right: 0;
      overflow: hidden;
    }

    &-dash {
      position: absolute;
      width: auto;
      margin: auto;
      height: rem(480);
      top: 0;
      bottom: 0;
      left: rem(117);
      border-radius: 8px;
      filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));

      @include display(phone) {
        display: none;
      }

      @include display(tablet) {
        display: none;
      }
    }
  }
}
