.landing {
  max-width: rem(1200);
  margin: auto;

  &__container {
    display: flex;
    margin-left: 7rem;
    align-items: center;
    height: rem(794);

    @include display(phone) {
      height: rem(250);
      margin: auto;
    }

    @include display(tablet) {
      margin: auto 0px auto 40px;
    }
  }

  &__text {
    flex-wrap: wrap;

    @include display(phone) {
      display: flex;
      justify-content: center;
    }

    @include display(tablet) {
      margin-left: 0;
    }
    
    h1 {
      font-weight: 800;
      font-size: 66px;
      line-height: 98px;

      @include display(phone) {
        font-size: 28px;
        line-height: 40px;
      }
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;

      @include display(phone) {
        font-size: 12px;
        line-height: 20px;
        padding-top: 10px;
        text-align: center;
      }
    }

    button {
      width: rem(196);
      height: rem(62);
      background-color: $main-background;
      margin: 32px 0px;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;

      @include display (phone) {
        margin-top: 20px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;

    @include display (phone) {
      display: none;
    }

    svg {
      padding-left: 2rem;
      z-index: -2;

      @include display(tablet) {
        width: 100%;
      }
    }

    img {
      position: absolute;
      padding-left: rem(125);
      padding-top: 20px;
      border-radius: 8px;
      filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
      z-index: -1;

      @include display(phone) {
        display: none;
      }

      @include display(tablet) {
        display: none;
      }
    }
  }
}
