.logos {

  &__container {
    display: flex;
    align-items: center;
    max-width: rem(1200);
    margin: 0 0 0 15rem;
    height: rem(308);

    @include display(phone) {
      margin: 0;
      padding: 15px;
      height: rem(250);
    }

    @include display (tablet) {
      display: flex;
      margin: auto;
      justify-content: flex-end;
    }

    &-text {
      flex-basis: 30%;

      @include display(phone) {
        margin: 0;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      @include display (tablet) {
        margin: 0;
      }

      h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;

        @include display(phone) {
          font-size: 28px;
        }
      }

      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;

        @include display(phone) {
          font-size: 18px;
          line-height: 30px
        }
      }
    }

    &-companies {
      display: flex;
      flex-basis: 60%;
      flex-wrap: wrap;

      @include display(phone) {
        margin-top: 20px;
        padding: 20px;
      }

      @include display (tablet) {
        margin: 0;
      }

      .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(160);
        height: 90px;
        border: none;
        border-radius: 16px;
        padding: 0 30px 0 30px;

        @include display(phone) {
          height: rem(40);
        }

        @include display(tablet) {
          height: rem(60);
          width: rem(140);
          padding: 0;
        }
      }
    }
  }
}