.logos {

  &__container {
    display: flex;
    align-items: center;
    margin: auto rem(165);
    height: rem(308);

    @include display (phone) {
      width: auto;
      margin: 0;
    }

    @include display (tablet) {
      display: flex;
      justify-content: space-around;
      margin: 0;
    }

    &-text {
      @include display(phone) {
        padding-left: 23px;
      }

      @include display (tablet) {
        margin: 0;
        flex-basis: 30%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-title {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;

      @include display (phone) {
        font-size: 28px;
      }
    }

    &-data {
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;

      @include display (phone) {
        font-size: 18px;
        line-height: 30px
      }
    }

    &-companies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include display (tablet) {
        flex-basis: 50%;
        justify-content: center;
      }

      .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(160);
        height: 90px;
        border: none;
        border-radius: 16px;

        @include display(phone) {
          &--none {
            display: none;
          }

          height: rem(50);
        }
      }
    }
  }
}
