.logos {

  &__container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: rem(64) rem(80) rem(64) rem(165);
    height: rem(308);

    @include display(phone) {
      padding: 0 0 0 15px;
      height: rem(250);
    }

    @include display (tablet) {
      padding: 0;
    }

    &-text {
      flex-basis: 40%;
      padding-left: rem(100);
      margin: auto;

      @include display(phone) {
        padding: 0 0 0 10px;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      @include display (tablet) {
        padding: 0 10.375rem 0 4.375rem;
      }

      h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;

        @include display(phone) {
          font-size: 28px;
        }
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;

        @include display(phone) {
          font-size: 18px;
          line-height: 30px
        }
      }
    }

    &-companies {
      display: flex;
      flex-basis: 70%;
      flex-wrap: wrap;
      padding-left: rem(100);

      @include display(phone) {
        padding: 0;
        justify-content: center;
      }

      @include display (tablet) {
        padding-left: rem(70);
      }

      .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(160);
        height: 90px;
        border: none;
        border-radius: 16px;
        padding: 0 30px 0 30px;

        @include display(phone) {
          height: rem(40);
        }

        @include display(tablet) {
          height: rem(60);
          width: rem(120);
          padding: 0;
        }
      }
    }
  }
}