.member {
  display: flex;
  height: rem(430);
  justify-content: center;

  @include display (phone) {
    height: rem(500);
  }

  @include display (tablet) {
    height: rem(500);
  }

  &__container {
    display: flex;
    width: rem(1110);
    height: rem(302);
    margin: auto;
    justify-content: space-between;
    border-radius: 16px;
    background-color: $secondary-background;

    @include display (phone) {
      width: 100%;
      height: 80%;
      margin: 0;
      border-radius: 0;
    }

    @include display (tablet) {
      margin: 10px 0;
      border-radius: 0;
    }

    &-info {
      position: absolute;
      margin-left: rem(490);
      height: rem(90);

      @include display (tablet) {
        margin: 0;
      }
    }

    &-text {
      width: rem(525);
      margin: 48px 48px;

      @include display (phone) {
        margin: 0 10px;
      }

      @include display (tablet) {
        margin: 0 10px;
      }

      h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;

        @include display (phone) {
          font-size: 30px;
        }
      }

      button {
        width: rem(240);
        height: rem(62);
        border-radius: 8px;
        margin-top: 32px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $main-background;

        @include display (phone) {
          width: 80%;
        }
      }
    }
  }

  .arrow {
    margin: rem(80) 0px;

    @include display (phone) {
      display: none;
    }

    @include display (tablet) {
      margin-left: rem(250);
      margin-top: 100px;
      width: 30%;
    }
  }

  .box {
    position: absolute;
    margin-top: 105px;

    @include display (phone) {
      display: none;
    }
  }

  .text {
    position: absolute;
    margin: rem(180) 50px;

    @include display (phone) {
      display: none;
    }
  }

  .girl {
    border-radius: 16px;

    @include display (phone) {
      width: 50%
    }

    @include display (tablet) {
      width: 40%;
      border-radius: 0;
    }
  }
}